.form__content {
  width: 30rem;
}

.form__content {
  .form__register {
    .btn-register:hover {
      background-color: rgb(34, 122, 12);
    }
  }

  .form__login {
    .btn-login:hover {
      background-color: rgb(34, 122, 12);
    }
  }
}
